<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="课表转日历">
    <meta name="author" content="TimFan">
    <link rel="icon" href="favicon.ico">

    <title>课表转日历</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        function show(){
          $("#indexpage").fadeToggle("fast",function(){$("#resultpage").fadeToggle("slow")})
        }
        function disshow(){
          $("#resultpage").fadeToggle("fast",function(){$("#indexpage").fadeToggle("slow")})
        }
        function showerror(){
          $("#indexpage").fadeToggle("fast",function(){$("#errorpage").fadeToggle("slow")})
        }
        function disshowerror(){
          $("#errorpage").fadeToggle("fast",function(){$("#indexpage").fadeToggle("slow")})
        }
        function vaildandpost()
        {
            var filename = $("#xlsfile").val();
            if(filename){
                  temp=filename.split('.')
                  var isXls=temp[temp.length-1].toLowerCase() ==='xls'||temp[temp.length-1].toLowerCase() ==='xlsx'
              if(($("#xlsfile")[0].files[0].size)<500000&&isXls){
                var formData = new FormData();
                var area = $("#compusselect").val();
                formData.append("area",area);
                formData.append("file",$("#xlsfile")[0].files[0]);
                $.ajax({ 
                  url : '/process', 
                  type : 'POST', 
                  data : formData, 
                  // 告诉jQuery不要去处理发送的数据
                  processData : false, 
                  // 告诉jQuery不要去设置Content-Type请求头
                  contentType : false,
                  //兼容IE8
                  cache: false,
                  beforeSend: function(){
                    $("#postbutton").text("正在加载...")
                    $("#postbutton").attr("class","btn btn-primary actice disabled")
                    
                  },
                  error(a,b){
                    $("#postbutton").text("服务器错误: "+(a.status))
                  },
                  success: function(responseStr,status){
                    if(responseStr.errorcode===0){
                      $("#postbutton").text("加载成功")
                     $("#ics_path").attr("href",responseStr.ics_path);
                     $("#qr_path").attr("src",responseStr.qr_path);
                     $("#title").html(responseStr.title);
                     show();
                    }else{showerror();}}})
                }else if(!isXls){alert("只支持xls或xlsx")} else{alert("最大支持500KB文件")}}else{alert('还未选择文件')}}
        </script>
  </head>

  <body>
      <div id="fakeLoader"></div>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 id="nace" class="masthead-brand">课程表转换器</h3>
              <button id="nacece" style="display: none;">点击返回</button>
              <nav>
                <ul class="nav masthead-nav">
                  <li  class="active"><a href="#">使用</a></li>
                  <li><a href="/static/webwxgetmsgimg.png">联系我</a></li>
                </ul>
              </nav>
            </div>
          </div>
        
          <div id="indexpage" class="inner cover">
            <h1 class="lead">转换丑陋的教务科表，用日历App优雅的管理课程。</h1>
            <p>使用方法：选择你的校区，上传教务处的课表，拿起手机扫码，即刻获取日历文件。</p>
            <p class="lead">      </p>
            <p class="lead">&nbsp;&nbsp;</p>
                <form id="form" action="/process" method=post enctype=multipart/form-data>
                    <div class="row">
                      <div class="col-4">
                          <select id="compusselect" name = "area" class="custom-select">
                              <option value="shahe">沙河</option>
                              <option value="xueyuanlu">学院路</option>
                            </select>
                            <small id="areaselectHelper" class="form-text text-muted">
                              选择你的校区</small>
                      </div>
                      <div class="col-4">
                   
                      <input type="file" id="xlsfile" name='file' class="custom-file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></input>
                      <small id="fileHelper" class="form-text text-muted">支持xls和xlsx</small>
                      
                    </div>
                    <div class="col－5">
                      <button id="postbutton" type="button" class="btn btn-primary" onclick="vaildandpost()" data-loading-text="正在处理...">生成日历！</button>
                      </div>
                    </div>
                    
                  </form>
                  
            
          </div>
          <div id="resultpage" class="inner cover" style="display: none;">
              <h1 class="lead">扫描下方二维码，获取日历</h1>
              <p id="title" class="lead">just a test</p>
              <img id=qr_path src="/static/webwxgetmsgimg.png" width="40%" height="40% "class="img-thumbnail">
              
              <div >
                  <small class="fontt">或</small>
                  <p><a id="ics_path" href="/">直接下载</a></p>
              </div>
            </div>

            <div id="errorpage" class="inner cover" style="display: none;">
                <p class="lead">&nbsp;&nbsp;</p>
                <h1 class="lead">emmm发生了些错误,请确认上传正确文件</h1>
                
                <p class="lead">&nbsp;&nbsp;</p>
                <div >
                    <small class="fontt"></small>
                    <button type="button" class="btn btn-primary btn-lg" onclick="disshowerror()">返回</button>
                </div>
              </div>
          
        
          <div class="mastfoot">
            <div class="inner">
                <small>如遇任何问题请联系我</small>
              <p>Powerd on <a href="http://getbootstrap.com">Bootstrap</a> by <a href="/static/webwxgetmsgimg.png">TimFan</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $("#nacece").click(function(){
          disshow()
        })
        </script>


  </body>
</html>
